{% extends 'base.html' %}

{% block title %} Confirmar cadastro • {{ block.super }} {% endblock title %}

{% block header %}
<h2>Quase lá… Precisamos confirmar seu endereço de email.</h2>
<h4>Para concluir o cadastro, clique no link que acabamos de enviar para o email informado.</h4>
{% endblock header %}
{% block content %}
<a class="button" href="{% url 'accounts:home' %}">Voltar para o site</a>
{% endblock content %}
{% block footer %}
<hr>
<p>
Não recebeu o link? Verifique sua pasta de spam. E lembre-se de nos adicionar à sua lista de contatos: <a href="mailto:padaria@nelsonboulangerie.com.br">padaria@nelsonboulangerie.com.br</a>. Isso garante que você receberá todas as nossas mensagens :)
</p>
{% endblock footer %}
