{% extends 'base.html' %}

{% block title %} Cadastre-se • {{ block.super }} {% endblock title %}

{% block header %}
<h2>Complete seu cadastro</h2>
<h4>Para finalizar, você precisa definir uma senha. Além disso, queremos chamar você pelo nome :)</h4>
<!--É necessário definir uma senha agora para continuar tendo acesso à sua conta Nelson-->
{% endblock header %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {% include 'form.html' %}

    <input type="submit" value="enviar">
    <input type="hidden" name="next" value="{{ request.path }}">

</form>
{% endblock content %}

{% block footer %}
<!--<p>-->
<!--  <a href="{% url 'accounts:update' %}">Clique aqui</a> para voltar-->
<!--</p>-->
{% endblock footer %}