{% extends 'base.html' %}

{% block title %} {{ block.super }} {% endblock title %}

{% block header %}
{% if user.is_authenticated %}
    <h2>Alterar senha</h2>
    <h4>Informe sua senha antiga por favor, por motivos de segurança, e então informe sua nova senha duas vezes para que possamos verificar se você digitou tudo corretamente</h4>
{% endif %}
{% endblock header %}

{% block content %}
<!--Main content-->
<form method="post">
    {% csrf_token %}

    {% include 'form.html' %}

    <input type="submit" value="salvar">
    <input type="hidden" name="next" value="{{ request.path }}">

</form>
{% endblock content %}

{% block footer %}
<!-- Footer content -->
<hr>
<p>
    <a href="{% url 'accounts:update' %}">Clique aqui</a> para voltar
</p>

{% endblock footer %}